/*=================================================================
    # Global
==================================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #777b85;
  --primary-color: #5046e5;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 100%;
  font-weight: 400;
}

h1 {
  font-size: clamp(2.5rem, 10vw, 12rem);
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*=================================================================
    # MainHeader
==================================================================*/

.main-nav {
  display: flex;
  padding: 1.56rem 3rem;
  justify-content: space-between;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-nav a {
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: 700;
}

.cart {
  display: flex;
  align-items: flex-end;
  gap: 0.75rem;
}

.navigation-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile-menu {
  display: none;
  height: 24px;
  width: 24px;
}

/*=================================================================
    # Hero
==================================================================*/
.hero {
  background-image: url("/img/background.jpg");
  min-height: calc(100vh - 6.25rem);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  color: white;
  text-align: center;
  max-width: 105rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 1.5rem;
}

.hero-content p {
  font-size: 1.5rem;
  max-width: 57rem;
  margin: auto;
}

.hero-content a {
  background-color: var(--primary-color);
  padding: 1rem clamp(1.5rem, 10vw, 8rem);
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

/*=================================================================
    # Cards Wrapper
==================================================================*/
.cards-wrapper {
  padding: 7.5rem 3rem;
  max-width: 1600px;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.cards-wrapper__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5rem;
  flex-wrap: wrap;
}

.cards-wrapper__heading a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.5rem;
}

.card .card-content {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.card-content span {
  color: var(--text-color);
}

.card-content span:last-child {
  color: black;
  font-weight: 700;
}

/*=================================================================
    # About Section
==================================================================*/
.about {
  background-color: #f9fafc;
  border-bottom: 1px solid rgba(119, 123, 133, 0.4);
  border-top: 1px solid rgba(119, 123, 133, 0.4);
  padding: 7.5rem 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.about .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .card-content {
  text-align: center;
  max-width: 275px;
}

.card-content p {
  margin-top: 0.75rem;
  color: var(--text-color);
}

.about .card img {
  width: 6.5rem;
  height: 6.5rem;
}

/*=================================================================
    # Media Queries
==================================================================*/

@media screen and (max-width: 1000px) {
  .socials {
    display: none !important;
  }
  .mobile-menu {
    display: block !important;
  }
}

@media screen and (max-width: 700px) {
  .navigation-items {
    display: none !important;
  }
  .cards-wrapper__heading h2 {
    margin-bottom: 1rem;
  }
}
